<h2>Por País</h2>
<hr />

<div class="row">
  <div class="col">
    <form autocomplete="off" (ngSubmit)="buscar()">
      <input
        class="form'control"
        type="text"
        name="termino"
        [(ngModel)]="termino"
        placeholder="Buscar país.."
      />
    </form>
  </div>
</div>

<hr />

<div *ngIf="hayError" class="alert alert-danger">
  No se encontró nada con el tértmino {{ termino }}
</div>

<div *ngIf="!hayError" class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Población</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>bandera</td>
          <td>nombre</td>
          <td>12312</td>
          <td><a href="/">link</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
