<div class="animate__animated animate__fadeIn animate__faster">
  <h2>Por País</h2>
  <hr />

  <div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar($event)"
        (onDebounce)="sugerencias($event)"
        placeholder="Buscar pais.."
      ></app-pais-input>
    </div>
  </div>

  <hr />

  <app-pais-error [hayError]="hayError" [busqueda]="termino"></app-pais-error>

  <div *ngIf="paises.length" class="row">
    <div class="col">
      <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
  </div>
</div>
